name: Build Kiali Operator Bundle

on:
  pull_request:
    paths:
      - ".github/workflows/build-bundle.yaml"
      - "kiali-operator-bundle/**"
      - Makefile
  workflow_dispatch:
    inputs:
      tag:
        description: Bundle tag
        default: "v2.17.1-r0"
        required: true
      operator_tag:
        description: Operator tag
        default: "v2.17.1-r0"
        required: true
      kiali_v2_17_tag:
        description: Kiali v2.17 image tag
        default: "v2.17.1-r0"
        required: true
      kiali_v2_11_tag:
        description: Kiali v2.11 image tag
        default: "v2.11.0-r0"
        required: true

jobs:
  build:
    runs-on: [self-hosted, linux]
    env:
      http_proxy: ${{ vars.http_proxy }}
      https_proxy: ${{ vars.https_proxy }}
      no_proxy: ${{ vars.no_proxy }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to build-harbor.alauda.cn
        uses: docker/login-action@v3
        with:
          registry: build-harbor.alauda.cn
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Determine image version
        id: version
        shell: bash
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            BUNDLE_TAG=${{ inputs.tag }}
            OPERATOR_TAG=${{ inputs.operator_tag }}

            echo "KIALI_OPERATOR_BUNDLE_VERSION=${BUNDLE_TAG#v}" >> $GITHUB_ENV
            echo "KIALI_OPERATOR_VERSION=${OPERATOR_TAG#v}" >> $GITHUB_ENV
            echo "KIALI_2_11_VERSION=${{ inputs.kiali_v2_11_tag }}" >> $GITHUB_ENV
            echo "KIALI_2_17_VERSION=${{ inputs.kiali_v2_17_tag }}" >> $GITHUB_ENV
          else
            BUNDLE_VERSION=$(make print-variables | grep 'KIALI_OPERATOR_BUNDLE_VERSION =' | cut -d '=' -f 2 | tr -d ' ')
            BUNDLE_TAG="v${BUNDLE_VERSION}-pr.${{ github.event.pull_request.number }}.${{ github.run_number }}"
          fi
          echo "tag=$BUNDLE_TAG" >> $GITHUB_OUTPUT

      - name: Bundle manifests
        id: bundle
        run: |
          make -e bundle-manifests

      - name: Build bundle
        uses: docker/build-push-action@v6
        with:
          context: _output/kiali-operator-bundle
          file: _output/kiali-operator-bundle/bundle.Dockerfile
          tags: |
            build-harbor.alauda.cn/asm/kiali-operator-bundle:${{ steps.version.outputs.tag }}
          push: true
        env:
          SOURCE_DATE_EPOCH: 315532800
